html{font-size:14px}
body{font-family:'Play',sans-serif;color:#263238}
h1,h2,h3,h4,h5,h6{font-family:'Oswald',sans-serif}

.btn-temp{position:relative;color:#fff;border-radius:2px;text-transform:uppercase;font-size:14px;letter-spacing:1px;padding:12px 20px;display:inline-block;outline:none;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;background-image:none;border:0;white-space:nowrap;line-height:1;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;text-decoration:none;background:rgba(23,189,198,1)}
.btn-temp:hover,.btn-temp:focus{color:#fff;text-decoration:none;outline:none}
.btn-temp:before{content:"";width:96%;height:0;border-radius:2px;position:absolute;top:6%;left:2%;background:rgba(255,255,255,0.0);-webkit-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out}
.btn-temp:hover:before{height:88%;background:rgba(255,255,255,0.4)}
.btn-temp.btn-red{background:#f44336}
.btn-temp.btn-blue{background:#3fb7c8}
.btn-temp.btn-orange{background:#ef965c}
.btn-temp.btn-green{background:#4caf50}

.navbarToggle{position:relative;padding:0;outline:none!important;background-color:transparent;background-image:none;border:0!important;width:34px;display:block;-webkit-transition:all .4s ease;-o-transition:all .4s ease;transition:all .4s ease;cursor:pointer;height:28px;-webkit-transition-delay:.3s;-o-transition-delay:.3s;transition-delay:.3s;z-index:1}
.navbarToggle .bar{-webkit-transition:all .3s;-o-transition:all .3s;transition:all .3s;height:1px;width:100%;display:block;background-color:#fff;float:right}
.navbarToggle .bar:nth-of-type(2){-webkit-transition-property:margin,height,width;-o-transition-property:margin,height,width;transition-property:margin,height,width;-webkit-transition-delay:0.3s,0.3s,0;-o-transition-delay:0.3s,0.3s,0;transition-delay:0.3s,0.3s,0;margin:8px 0}
.navbarToggle .bar:nth-of-type(1){-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);-webkit-transition-delay:.3s;-o-transition-delay:.3s;transition-delay:.3s;width:70%;margin-top:1px}
.navbarToggle .bar:nth-of-type(2){opacity:0;height:0;margin:-4px 0}
.navbarToggle .bar:nth-of-type(3){-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg);-webkit-transition-delay:.3s;-o-transition-delay:.3s;transition-delay:.3s;width:70%}
.navbarToggle.collapsed{padding-top:0}
.navbarToggle.collapsed:hover .bar{width:100%}
.navbarToggle.collapsed .bar:nth-of-type(1){-webkit-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg);width:70%;margin-top:1px}
.navbarToggle.collapsed .bar:nth-of-type(2){opacity:1;height:1px;margin:8px 0;width:28px}
.navbarToggle.collapsed .bar:nth-of-type(3){-webkit-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg);width:32px}
#header .navbar{background-color:#022930;padding:0;z-index:10}
#header .navbar .container{padding:0 15px!important}
#header .navbar .navbar-brand{color:#fff;padding:15px 0}
#header .navbar .navbar-brand h1{line-height:1}
#header .navbar .navbar-nav .nav-item .nav-link{padding-left:15px;padding-right:15px;color:#fff;border-radius:2px;-webkit-transition:all .4s ease;-o-transition:all .4s ease;transition:all .4s ease;letter-spacing:1px}
#header .navbar .navbar-nav .nav-item.active .nav-link,#header .navbar .navbar-nav .nav-item .nav-link:hover{background:-webkit-gradient(linear,left top, left bottom,from(rgba(23,189,198,1)),to(rgba(7,74,93,1)));background:-o-linear-gradient(top,rgba(23,189,198,1) 0%,rgba(7,74,93,1) 100%);background:linear-gradient(to bottom,rgba(23,189,198,1) 0%,rgba(7,74,93,1) 100%)}

.heroBanner{padding:40px 0;width:100%;overflow:hidden;position:relative;color:#fff;background:-webkit-gradient(linear,left top, left bottom,from(#04272b),to(rgba(16,32,29,1)));background:-o-linear-gradient(top,#04272b 0%,rgba(16,32,29,1) 100%);background:linear-gradient(to bottom,#04272b 0%,rgba(16,32,29,1) 100%);z-index:1;position:relative}
.heroBanner:after{content:'';position:absolute;top:0;left:0;right:0;width:100%;background:url(../img/border.png) no-repeat center;height:60px;background-position:center top}
.heroContent h1{font-size:3.2rem;color:#fff}
.heroContent h2{font-size:1.8rem;color:#fff}
.heroContent p{font-size:1rem;color:#3fb7c8}
#heroSlider .swiperNav{width:40px;height:40px;line-height:40px;background:transparent;padding:0;border-radius:50%;text-align:center;border:0;outline:none;-webkit-box-shadow:none;box-shadow:none;-webkit-transition:all .4s ease;-o-transition:all .4s ease;transition:all .4s ease}
#heroSlider .swiperNav:after{font-size:18px;color:#fff;-webkit-transition:all .4s ease;-o-transition:all .4s ease;transition:all .4s ease}
#heroSlider:hover .swiperNav{border:1px solid #fff}
#heroSlider .swiperNav:hover{background:#fff;-webkit-box-shadow:0 1px 7px rgba(0,0,0,0.4);box-shadow:0 1px 7px rgba(0,0,0,0.4)}
#heroSlider .swiperNav:hover:after,#heroSlider .swiperNav:focus:after,#heroSlider .swiperNav:active:after{color:#263238}
.swiper-container-horizontal>.swiper-pagination-progressbar,.swiper-container-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite{height:2px}
.slideBox{display:block;position:relative;color:#fff;z-index:1}
.slideBox img{width:100%;height:auto}
.slideBox:after{content:'';position:absolute;top:0;left:0;width:100%;height:100%;z-index:1;background:-webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0,0)),to(rgba(0,0,0,1)));background:-o-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);background:linear-gradient(to bottom,rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%)}
.slideBox .boxContent{position:absolute;bottom:0;left:0;padding:15px;z-index:2;width:100%}
.slideBox .boxContent h4{color:#fff;font-size:1.2rem}
.slideBox .boxContent p{color:#fff;margin:0}
.slideBox .more{width:30px;height:30px;border-radius:50%;border:1px solid #fff;text-align:center;line-height:26px;font-size:14px;color:#fff;text-decoration:none;-webkit-transition:all .4s ease;-o-transition:all .4s ease;transition:all .4s ease;position:absolute;top:50%;right:20px;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);opacity:0;visibility:hidden}
.slideBox:hover .more{opacity:1;visibility:visible}
.slideBox .more:hover{background-color:#fff;color:#263238}

@media (max-width: 991px) {
  #mainNav{position:fixed;top:0;left:0;width:260px;height:100vh;z-index:2;padding:15px;background:#022930;-webkit-transform:translateX(-100%);-ms-transform:translateX(-100%);transform:translateX(-100%);opacity:0;-webkit-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out}
  #mainNav .navbar-nav{overflow-y:auto;max-height:calc(100vh - 70px);margin-left:0!important}
  #header .navbar .navbar-brand h1,#mainNav .navLogo h1{font-size:2rem}
  .nav-open #mainNav{-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);opacity:1}
  .navBackDrop{position:fixed;top:0;left:0;width:100%;height:100vh;opacity:0;background:rgba(0,0,0,0.7);-webkit-transform:translateX(-100%);-ms-transform:translateX(-100%);transform:translateX(-100%);-webkit-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out}
  .nav-open .navBackDrop{-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);opacity:1}
  #mainNav .navbar-nav .nav-item + .nav-item{margin-top:10px}
  .heroContent{text-align:center}
  .slideBox .boxContent h4{margin:0;font-size:1rem}
  .slideBox .boxContent p{display:none}
}
@media (min-width: 991px) {
  #header .navbar{padding:10px 0}
  #mainNav .navLogo{display:none}
}
@media (min-width: 1200px) {
  html{font-size:16px}
  #mainNav .navbar-nav .nav-item + .nav-item{margin-left:15px}
}
